@model ESTReporting.EntityModel.Models.EST_SCAudit

<div id="myModal" class="modal hide fade" aria-labelledby="modal-formLabel" aria-hidden="true" tabindex="-1" role="dialog" style="position: absolute; top: 10px;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title w-100 font-weight-bold">EST SCAudit</h4>
                <a class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                </a>
            </div>
            <div class="modal-body">
                <div>
                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.Audit_Ser_Num)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Audit_Ser_Num)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Audit_Part_Num)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Audit_Part_Num)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Audit_Prod_Desc)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Audit_Prod_Desc)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Audit_Prod_Desc_Alt)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Audit_Prod_Desc_Alt)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Audit_Source_Site_Num)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Audit_Source_Site_Num)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Audit_Dest_Site_Num)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Audit_Dest_Site_Num)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Audit_Part_Type)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Audit_Part_Type)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Audit_Rem)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Audit_Rem)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Audit_User)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Audit_User)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Audit_Last_Update)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Audit_Last_Update)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Audit_Move_Date)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Audit_Move_Date)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.CreatedDate)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.CreatedDate)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.UpdatedDate)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.UpdatedDate)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.DeletedDate)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.DeletedDate)
                        </dd>

                    </dl>
                </div>
                <p>
                    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
                    @Html.ActionLink("Back to List", "Index")
                </p>
            </div>
        </div>
    </div>
</div>
