@model ESTReporting.EntityModel.Models.PartManufacturer

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>PartManufacturer</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UpdatedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UpdatedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Code)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CodeEsteem)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CodeEsteem)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CodeEsteemAlt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CodeEsteemAlt)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
