@model ESTReporting.EntityModel.Models.BAM_HardwareTemplate_Full

<div id="myModal" class="modal hide fade" aria-labelledby="modal-formLabel" aria-hidden="true" tabindex="-1" role="dialog" style="position: absolute; top: 10px;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title w-100 font-weight-bold">BAM_HardwareTemplate_Full</h4>
                <a class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                </a>
            </div>
            <div class="modal-body">
                <div>
                    <dl class="dl-horizontal" style="width: 100%;">
                        <dt>
                            @Html.DisplayNameFor(model => model.ClassTypeId)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.ClassTypeId)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.BaseId)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.BaseId)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.DisplayName)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.DisplayName)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.FullName)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.FullName)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.TimeAdded)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.TimeAdded)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.LastModified)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.LastModified)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.LastModifiedBy)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.LastModifiedBy)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.AssetTag)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.AssetTag)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.AssignedDate)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.AssignedDate)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Cost)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Cost)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.HardwareAssetID)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.HardwareAssetID)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Manufacturer)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Manufacturer)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Model)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Model)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Name)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Name)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Notes)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Notes)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.SerialNumber)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.SerialNumber)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.ObjectId)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.ObjectId)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.CreatedDate)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.CreatedDate)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.UpdatedDate)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.UpdatedDate)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.DeletedDate)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.DeletedDate)
                        </dd>

                    </dl>
                </div>
                <p>
                    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
                    @Html.ActionLink("Back to List", "Index")
                </p>
            </div>
        </div>
    </div>
</div>
